source https://nuget.org/api/v2

nuget EWS-Api-2.0
nuget EntityFramework
nuget FSharp.Data
nuget FSharp.Data.SqlClient
nuget FSharp.Formatting
nuget Microsoft.Data.Edm
nuget Microsoft.Data.OData
nuget Microsoft.Data.Services
nuget NUnit 
nuget NUnit.Runners
nuget FAKE
nuget Newtonsoft.Json
nuget NuGet.CommandLine
nuget SourceLink.Fake
nuget System.Management.Automation
nuget log4net
nuget sync.today.cipher

github fsharp/FAKE modules/Octokit/Octokit.fsx