source https://nuget.org/api/v2

nuget FSharp.Data
nuget FSharp.Formatting
nuget NUnit 
nuget NUnit.Runners
nuget FAKE
nuget NUnitTestAdapter
nuget Newtonsoft.Json
nuget SourceLink.Fake
nuget log4net

github fsharp/FAKE modules/Octokit/Octokit.fsx